*
!.*

.CFUserTextEncoding
.DS_Store
.Trash/
.bash_history
.boom
.boom.conf
.gemrc
.gitignore_global
.gvimrc
.guard_history
.irb-history
.irbrc
.lesshst
.netrc
.rdebug_hist
.rspec
.sqlite_history
.vim.old/
.vim/
.viminfo
.vimrc
.vimrc.old
.zprofile
.zshenv
